@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@300;400&display=swap");

body {
  @apply text-left;
  background-color: #f9fafb;
  font-family: "Inter", sans-serif;
}

.CostumContainer {
  @apply w-[24rem]
    h6:w-[30rem]
    h8:w-[40rem]
    k1:w-[64rem]
    k12:w-[90vw]
    mx-auto;
}

.heading1 {
  @apply font-semibold
      text-gray-700
      capitalize
      text-left
      text-3xl
      h8:text-4xl
      k15:text-5xl
      mb-10;
  font-family: "Merriweather Light", "Merriweather Regular";
}

.heading2 {
  @apply font-medium
      text-gray-600
      capitalize
      text-left
      text-2xl
      h8:text-3xl
      k15:text-4xl
      mb-10;
  font-family: "Merriweather Regular", "Merriweather Light";
}

.heading3 {
  @apply text-gray-600
        capitalize
        text-left
        text-xl
        h8:text-2xl
        k15:text-3xl
        mb-10;
  font-family: "Merriweather Regular", "Merriweather Light";
}

.heading4 {
  @apply text-gray-600
        capitalize
        text-left
        text-lg
        h8:text-xl
        k15:text-2xl
        mb-10;
  font-family: "Merriweather Regular", "Merriweather Light";
}

.heading5 {
  @apply text-gray-500
        capitalize
        text-left
        text-base
        h8:text-lg
        k15:text-xl
        mb-10;
  font-family: "Merriweather Regular", "Merriweather Light";
}

.heading6 {
  @apply text-gray-500
        capitalize
        text-left
        text-sm
        h8:text-base
        k15:text-lg
        mb-10;
  font-family: "Merriweather Regular", "Merriweather Light";
}

.cardHeader {
  @apply k15:pb-2
      text-gray-600
      pb-2
      text-base
      k15:text-lg
      font-bold;
}

.button.main,
button.main,
.button.primary,
button.primary {
  @apply focus:outline-none
    text-white 
    text-sm 
    py-2.5 
    px-5 
    rounded-md 
    bg-gradient-to-br 
    from-blue-400 
    to-blue-600 
    hover:bg-gradient-to-tl 
    hover:from-blue-400 
    hover:to-blue-600
    capitalize;
}

.button.seconday,
button.secondary {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gradient-to-br from-gray-400 to-gray-600 transform hover:bg-gradient-to-tl 
  hover:from-gray-400 
  hover:to-gray-600
    capitalize;
}

.button.success,
button.success {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gradient-to-br from-green-400 to-green-600 transform hover:bg-gradient-to-tl 
  hover:from-green-400 
  hover:to-green-600
    capitalize;
}

.button.danger,
button.danger {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gradient-to-br from-red-400 to-red-600 transform hover:bg-gradient-to-tl 
  hover:from-red-400 
  hover:to-red-600
    capitalize;
}

.button.warning,
button.warning {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gradient-to-br from-yellow-400 to-yellow-600 transform hover:bg-gradient-to-tl 
  hover:from-yellow-400 
  hover:to-yellow-600
    capitalize;
}

.button.info,
button.info {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gradient-to-br from-purple-400 to-purple-600 transform hover:bg-gradient-to-tl 
  hover:from-purple-400 
  hover:to-purple-600
    capitalize;
}

.button.info2,
button.info2 {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gradient-to-br from-[rgba(150,210,214,1)] to-[#00ADB5] transform hover:bg-gradient-to-tl 
  hover:from-[rgba(150,210,214,1)] 
  hover:to-[#00ADB5]
    capitalize;
}

.button.dark,
button.dark {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gradient-to-br from-gray-600 to-gray-900 transform hover:bg-gradient-to-tl 
  hover:from-gray-600 
  hover:to-gray-900
    capitalize;
}
.button.disabled,
button.disabled {
  @apply focus:outline-none text-white text-sm py-2.5 px-5 rounded-md bg-gray-300 capitalize;
}

.card {
  @apply overflow-hidden
    relative
  bg-[#ffffff]
  text-left
  rounded-lg
  p-4

  drop-shadow-2xl
    h4:max-w-[290px];
}

p.lineLimited {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gradientLine {
  @apply w-full h-0.5 mt-2
      bg-gradient-to-br
      from-yellow-400 to-orange-500
      group-hover:bg-gradient-to-bl;
}

blockquote {
  font-style: italic;
  opacity: 0.8;
  font-size: 110%;
}

p.parag,
.parag.edit {
  @apply text-gray-700 font-medium text-sm leading-normal;
}

button.btn,
button.btnGold {
  /* width: 140px; */
  width: attr(new-width);
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #77530a,
    #ffd277,
    #77530a,
    #77530a,
    #ffd277,
    #77530a
  );
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

button.btn::before,
button.btnGold {
  position: absolute;
  /* content: "BUTTON"; */
  content: attr(data-text);
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

button.btn:hover,
button.btnGold:hover {
  background-position: right;
  transition-duration: 1s;
}

button.btn:hover::before,
button.btnGold:hover::before {
  background-position: right;
  transition-duration: 1s;
}

button.btn:active,
button.btn:active {
  transform: scale(0.95);
}
